.about-container {
    width: 90%;
    margin: 0 auto;
}

.about-container img {
    margin: .5em auto;
    border-radius: 10px;
    border: 1.75px solid black;
    width: 100%;
}

.about-me-text-container {
    overflow-y: scroll;
}

@media (min-width: 500px) {
    .grid-two-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

    .about-container img {
        object-position: left;
    }
}