.contact-form-container {
    width: 90%;
    margin: 0 auto;
}

.contact-form {
    margin: 0 auto;
    border-radius: 10px;
    margin-top: .25em;
    padding: .5em;
}

.contact-form-input,
.contact-form label {
    margin: .25em auto;
    resize: none;
    width: 80%;
}

.contact-form-input {
    margin-bottom: .5em;
    border: 1px solid black;
    height: 1.5em;
    padding-left: .25em;
}

input[type="submit"] {
    margin-top: .5em;
    border-radius: 10px;
    width: 30%;
    height: 1.75em;
    border: 1px solid black;
    padding: .25em;
    color: white;
    background-color: red;
    cursor: pointer;
    transition: opacity 200ms;
}

input[type="submit"]:hover {
    opacity: .8;
    transition: opacity 200ms;
}