html {
    scroll-behavior: smooth;
}

.sub-header {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-family: "Lora", serif;
    text-align: center;
    margin: .5em auto 0;
}

.general-text {
    font-family: 'Lato', sans-serif;
    font-size: clamp(1rem, 2vw, 1.25rem);
}

.object-cover-img {
    object-fit: cover;
    object-position: top;
}

.relative-container {
    position: relative;
}

.absolute-el {
    position: absolute;
}

.text-stroke {
    -webkit-text-stroke: 1.5px black;
}