.landing-container {
    position: relative;
    color: white;
}

.landing-img {
    object-fit: cover;
    object-position: top;
}

.landing-text {
    position: absolute;
    bottom: 2%;
    left: 2%;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.landing-header {
    padding-right: 10px;
    font-size: clamp(2rem, 5vw, 4rem);
    display: inline-block;
}

.landing-text p.sub-header,
.landing-text h1 {
    -webkit-text-stroke: 1.5px black;
}

.red {
    color: red
}

.blue {
    color: blue
}

.white {
    color: white
}