.landing-container {
    position: relative;
    color: white;
    min-height: 70vh;
}

.landing-text {
    position: absolute;
    bottom: 2%;
    text-align: left;
    left: 2%;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.landing-header {
    padding-right: 10px;
    margin-bottom: .2em;
    font-size: clamp(2rem, 5vw, 4rem);
    display: inline-block;
}

.landing-sub-header {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
}

.red {
    color: red
}

.blue {
    color: blue
}

.white {
    color: white
}