nav {
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  height: 67px;
  z-index: 9998;
}

.nav-item-right {
  display: flex;
  gap: 1em;
}

/* mobile menu styles */
nav menu {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

nav img {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 9999;
}

nav menu button {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%);
}


/* phone style */
.phone-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: white;
}